
@keyframes animatedBackground {
  from {
    background-position: 20 0;
  }
  to {
    background-position: 100% 0;
  }
}
html,
body {
  
  background-size: 90%;
  background-color: #030d11;
  color: rgb(236, 234, 234);
}
.jumbotron{
  font-family: 'Unica One', cursive;
  margin-bottom: 0px;
  color: rgb(231, 229, 229);
  text-shadow: black 0.3em 0.3em 0.3em;
}
#animate-area{
  background-color: transparent;
  background-image: url("https://wallpapercave.com/wp/lZjNWvu.jpg") ;
  background-size: 87% cover;
  background-position: -40% 13%;
  animation: animatedBackground 60s linear infinite;
  animation-fill-mode: forwards;
  
  background-repeat: no-repeat;
}


.heading {
  position: center;
}

.heading_title {
  font-size: 8rem;
  font-family: 'Unica One', cursive;
  transform: translateY(20%);
  transform: translateX(-200%);
}

.main_content {
  font-family: 'Unica One';
  text-align: center;
  min-height: 500px;
}

.game_space {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.letter_space {
    display: inline-block;
    flex-grow: 1;
    font-size: 5rem;
    min-width: 10px;
    margin: 5px;
  }
  
  .win_loss_box {
    margin-bottom: 50px;
  }

.win_loss_title {
  margin-bottom:0;
  margin-top:4;
  padding-bottom: 10px;
}

win_loss_title,
win_loss_value {
  background:white;
  color: black;
}

win_loss_value {
  font-size: 7rem;
}

  .blank_space {
      width: 90px;
  }


.stats_value {
  font-size: 3rem;
}

#prompt_to_start {
  font-size: 3.3rem;
}

.alert-box {
  display: none;
  font-size: 4rem;
}

@media screen and (max-width: 991px) {
  .heading_title {
    transform: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
}