

html,
body {
  
  background-size: 97%;
  background-color: black;
  color: #fff;
}
.jumbotron {
  margin-bottom: 0px;
  background-image: url("https://d2r55xnwy6nx47.cloudfront.net/uploads/2017/11/Vela_2880Lede-2880x1620.jpg") ;
  background-size: 97% cover;
  background-position: 0% 25%;
  
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}


.heading {
  position: center;
}

.heading_title {
  font-size: 8rem;
  font-family: 'Alex Brush';
  transform: translateY(20%);
  transform: translateX(-200%);
}

.main_content {
  text-align: center;
  min-height: 500px;
}

.game_space {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.letter_space {
    display: inline-block;
    flex-grow: 1;
    font-size: 5rem;
    min-width: 10px;
    margin: 5px;
  }
  
  .blank_space {
      width: 90px;
  }


.stats__value {
  font-size: 3rem;
}

#prompt_to_start {
  font-size: 3.3rem;
}

.alert-box {
  display: none;
  font-size: 4rem;
}

@media screen and (max-width: 991px) {
  .heading_title {
    transform: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
}