

html,
body {
  background: url("../images/galaxy.jpg") #041d44;
  background-position: top right;
  background-repeat: repeat;
  color: #fff;
}

.heading {
  position: relative;
}

.heading_title {
  font-size: 8rem;
  font-family: 'Alex Brush', cursive;
  transform: translateY(50%);
}

.main_content {
  text-align: center;
  min-height: 500px;
}

.game_space {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.letter_space {
    display: inline-block;
    flex-grow: 1;
    font-size: 5rem;
    min-width: 10px;
    margin: 5px;
  }
  
  .blank_space {
      width: 90px;
  }


.stats__value {
  font-size: 3rem;
}

#prompt_to_start {
  font-size: 3.3rem;
}

.alert-box {
  display: none;
  font-size: 4rem;
}

@media screen and (max-width: 991px) {
  .heading_title {
    transform: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
}